.info-rate
  width: 100%
  display: flex
  align-items: center
  justify-content: space-between
  .rate
    margin: 0

.coefficient-wrapper
  li
    display: flex
    align-items: center
    justify-content: space-between
    margin: 0 0 4px
    p
      min-width: 175px
    &:last-child
      margin: 0

.battle-figure.battle-figure-right .info-rate .rate
  margin: 0

.bids-wrapper
  .field-game
    margin: 0 0 54px

.number-of-bets__wrapper
  margin: 0 0 118px

.number-of-bets
  display: flex
  align-items: center
  font-size: 18px
  justify-content: center
  span
    display: inline-block
    margin: 0 0 0 5px

.bet-amount
  position: relative
  width: 262px
  padding: 0 0 6px
  border-bottom: 1px solid #00ad5d
  display: flex
  align-items: center
  justify-content: space-between
  label
    margin: 0
    width: calc(100% - 24px)
    input
      font-size: 16px
      width: 100%
      border: none
      padding: 0 4px

  button
    width: 24px
    height: 24px
    border-radius: 5px
    background: url("../img/arrow_right_black.png") no-repeat center #00ad5d
      size: 9px
    display: flex
    align-items: center
    justify-content: center

    box-sizing: border-box

.field-game__top-left
  .bet-amount
    margin: 0 0 0 33px

.field-game__top-right
  justify-content: space-between

