@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1199px)
  .footer__nav-social li
    margin: 0 20px 0 0

  .nav-header-menu
    margin: 0 15px

  .top-line .navbar__item
    margin: 0


  .user-account
    position: relative

    &:after
      position: absolute
      bottom: 0
      right: 3px

    .icon
      width: 30px
      margin: 0 3px 0 0

    .text
      padding: 0

      h4
        display: none

  .dropdown-menu__user
    top: 65px

  .dropdown-menu.show
    border-radius: 0

  .nav-tabs
    padding: 0 10px
    .nav-link
      padding: 0 10px 16px

  .balance-account
    .btn-green
      padding: 11.5px 35px
    .btn-border
      padding: 11.5px 25px

  .user-information__photo
    width: 200px
    .photo
      height: 240px
      padding: 10px

  .subtitle
    font-size: 24px

  .tooltip-wrapper .icon
    width: 24px
    height: 24px

  .line-subtitle
    .btn
      width: 167px
      height: 50px
      padding: 0
    .line-subtitle__item
      &:nth-child(2)
        margin: 0 20px 0 auto

  .league-box
    width: 100%

  .games-tape__wrapper-line .it-center, .games-tape__wrapper-line .it-left .text, .name-winner
    font-size: 16px

  .it-center__center
    font-size: 28px

  .games-tape__wrapper-line .it-right
    width: 170px
    .btn
      width: 100%
      font-size: 16px
      font-weight: 400

  .question-wrapper__box-title .box-left, .message-user__text
    max-width: 577px

  .m-20, .it-center__center
    margin: 0 10px

  .game-statistics
    .games-tape__wrapper
      .it-right
        width: 163px

  .coefficient
    font-size: 16px

  .how-to-become
    padding: 30px 0 62px

  .how-to-become__step
    width: 100%
    padding: 0 35px

  .home-title
    font-size: 30px

  .how-to-become__phone
    &:before
      left: -30px
      width: 84px
      height: 122px

  .coefficient-wrapper li
    font-size: 14px
    p
      min-width: 147px

  .bids-wrapper
    .rate, .number-game
      font-size: 14px

  .bet-amount
    width: 240px

  .battle-figure.battle-figure-right .icon svg
    height: 270px

  .battle-figure.battle-figure-right .icon
    width: 270px

  .login-section__content
    padding: 31px 20px 10px

  .top-balance__content
    padding: 0

  .faq-content__box
    max-width: 454px

  .tournament-participants
    max-width: 190px

  .tournament-rate
    max-width: 130px

  .tournaments-section .line-subtitle
    margin: 0 0 31px

  .tournaments-section__line .box-item
    max-width: 310px

  .user-account
    align-items: flex-start
    .dropdown-toggle
      &:after
        right: 3px
        top: 21px
    .text
      .icon-flag
        margin: 0

  .game-info__wrapper
    justify-content: space-around

  .game-info__box
    margin: 0 0 10px
    &:last-child
      margin: 0 0 10px

  .date-registration
    font-size: 14px

  .location-country
    margin: 0 0 20px

  .latest-games
    margin: 39px 0 0 0
    h3
      font-size: 24px


/* Medium Devices, Desktops */
@media only screen and (max-width: 1050px)
  .avatar-user
    .avatar, .user-loc
      display: none
    .name
      align-items: flex-end
      .user-loc
        margin: 0 0 0 10px

  .avatar-user.it-center__right .name
    align-items: flex-end

  .become-participant__wrapper .btn
    width: 290px
    font-size: 16px


@media only screen and (max-width: 991px)
  .footer-top
    margin: 0 0 40px

    .footer-box
      margin: 0 0 20px

  .user__rating-wrapper
    flex-direction: row
    display: flex
    align-items: center
    margin: 0 auto

  .user__rating
    margin: 0 0 0 10px

  .navbar-collapse
    order: 1
    .nav-header-menu
      margin: 0
      border: none

  .dropdown.show .dropdown-toggle
    border-radius: 0

  .top-line
    .nav__pro
      background: transparent
      border-radius: 0
    .nav-language__menu
      background-color: #1f2532
    .navbar-nav
      padding: 0
      width: 100%
      .nav-link
        width: 100%
        padding: 15px 0
        border-bottom: 1px solid rgba(#fff, .1)
    .navbar__item
      width: 100%
      &:last-child
        margin: 0
        .nav-link
          border: none
    .nav-language
      width: 100%
      order: initial
      .dropdown.show
        a
          &:after
            border-top-color: $secondary-fgcolor
            transform: rotate(180deg)
      li
        width: 100%
        a
          width: 100%
          border-radius: 0
      .nav-language__button
        padding: 10px 15px
        border: none
      .dropdown-toggle::after
        margin: 0 0 0 auto

    .nav-language__menu
      background-color: #1f2532
      padding: 0 15px
      .dropdown-item
        padding: 14px 10px
        border-bottom: 1px solid rgba(#fff, .1)

  .change-password
    margin: 0 0 31px

  .social-wrapper.profile-box
    margin: 0 0 60px

  .user-information__photo
    width: 262px
    .photo
      height: 262px

  .section-profile .button-wrapper
    margin: 35px auto 70px
    padding: 0
    border: none

  .recent-operations__line
    margin: 0 0 24px

  .profile-tabs__content
    .fade:not(.show)
      opacity: 1

  .main-counters__item
    margin: 0 0 29px

  .line-subtitle
    margin: 59px 0 55px

  .league-box
    width: 290px
    margin: 0 auto 57px
    padding: 34px 19px 0

  .league-wrapper
    .container
      max-width: 100%
      padding: 0

  .games-tape__wrapper-line
    flex-direction: column
    align-items: center
    margin: 0 0 30px
    .it-left
      flex-direction: column
      align-items: center
      justify-content: center
      text-align: center
      margin: -20px 0 0 0
      .icon
        margin: 0 auto 0
      .text
        text-align: center
        justify-content: center
        align-items: center
        .league-name
          margin: 7px auto 10px
    .it-center
      align-items: center
      margin: 13px auto
      width: 100%
      justify-content: space-between
      font-size: 14px
      .it-center__center
        margin: 0 10px
      .rate, .the-participants
        font-size: 14px

  .it-center__center
    font-size: 30px
    margin: 19px 0

  .games-tape
    margin: 60px 0


  .games-tape__wrapper
    height: auto
    overflow-y: visible
    margin: 0 0 20px

  .games-tape__wrapper-line
    display: none
    &:nth-child(-n+7)
      display: flex

  .profile-tabs.nav-tabs .nav-link
    color: #ffff
    border: none
    .active
      color: #ffff
      border: none

  .profile-tabs.nav-tabs
    border: none
    &:before
      content: ''
      position: absolute
      bottom: 1px
      left: 0
      width: 100%
      height: 2px
      background: #1f2532

  .profile-tabs__content
    .games-tape__wrapper
      height: auto
      overflow: hidden
      border-radius: 35px
      .avatar-user
        .avatar
          display: flex
        .user-loc
          display: flex
          align-items: center
        .name
          flex-direction: row
      .it-right
        width: 100%
        flex-direction: column
        .bet-result
          margin: 0 0 30px
          &:last-child
            margin: 0

    .games-tape__wrapper-line
      .it-left
        margin: 0 auto

  .it-right__wrapper
    width: 100%

  .it-right__wrapper-line
    border: none
    margin: 0

  .technical-support
    margin: 0

  .window-dropdown
    margin: 30px 0

  .question-wrapper__box-title .box-left, .message-user__text
    max-width: 540px

  .games-tape__wrapper-line .it-right
    width: auto
    .btn
      width: 252px

  .bids .it-right .btn
    width: 166px

  .bids .it-center .score
    flex-direction: column
    align-items: center

  .coefficient
    font-size: 18px
    margin: 29px auto 0

  .games-tape__wrapper-line .it-right .btn
    margin: 0 auto

  .m-20
    margin: 0 20px

  .it-center__center
    margin: 20px 0

  .score-game
    font-size: 38px

  .field-game
    .avatar-user
      .user-loc, .avatar
        display: flex
        align-items: center
      .avatar
        width: 20px
      .name
        margin: 0 0 0 10px
        font-size: 16px

  .field-game .box-right h5
    font-size: 20px

  .figures-box
    font-size: 20px
    .icon
      width: 70px
      height: 68px
      img
        width: 25px

  .section-title h2
    text-transform: none

  .battle-figure .icon
    width: 120px
    height: 200px

  .result-round
    font-size: 14px

  .header
    .navbar-dark .navbar-brand
      padding: 0
    .navbar-dark .navbar-toggler
      margin: 0
      order: -1

  .main-logo
    padding: 27px 0 60px
    position: relative
    .container
      position: relative

  .main-text__title
    font-size: 40px


  .how-to-become h2
    margin: 0 0 28px

  .what-is-pro .container
    padding: 28px 15px 60px

  .what-is-pro__description
    margin: 29px 0 56px

  .what-is-pro .btn-green
    width: 290px

  .our-advantages .container
    padding: 32px 15px

  .advantages-item
    width: 100%
    margin: 0 auto 20px

  .our-advantages h2
    margin: 0 auto 29px
    text-align: center

  .counters-wrapper
    padding: 31px 0 0
    .btn
      margin: 60px auto
    .main-counters__number
      font-size: 36px
      letter-spacing: 2.88px
    .main-counters__label
      font-size: 18px
      margin: 0 0 25px


  .bids-wrapper
    .info-rate
      flex-direction: column
    .coefficient-wrapper
      margin: 0 0 10px
    .rate
      order: 1
    .victory-score
      flex-direction: column
      align-items: center
    .number-game
      font-size: 18px

  .bet-amount
    width: 100%
    margin: 0
    order: 1

  .field-game__top-left
    flex-wrap: wrap
    .bet-amount
      margin: 0
      width: 100%

  .battle-figure.battle-figure-right .icon
    width: 200px
    height: 200px
    svg
      width: 200px
      height: 200px

  .login-section__content
    .bottom-line
      flex-wrap: wrap
    .links-wrapper
      width: 100%
      text-align: center
      justify-content: center
      margin: 29px 0 0 0
    .social-entrance
      margin: 0 0 0 auto

  .login-form__login button
    width: 270px
    padding: 0
    height: 50px
    margin: 31px auto 0

  .registration-section__content .social-entrance
    margin: 38px 0 26px

  .list-payment li
    margin: 0 15px 15px 0
    &:last-child
      margin: 0 0 15px

  .faq-content__box
    max-width: 334px

  .faq-content__box-title
    padding: 29px 70px 24px
    text-align: center
    &:before
      width: 27px
      height: 27px
      font-size: 38px

  .list-question li .text
    max-height: 55px

  .faq-section h1
    margin: 0 0 30px

  .tournaments-section
    .line-subtitle
      flex-direction: column
      align-items: center

      .subtitle
        text-align: center
        p
          font-size: 18px
          margin: 15px 0 0 0

  .all-tournaments
    margin: 28px 0 31px

  .tournaments-section__line
    flex-wrap: wrap

  .tooltip
    right: calc(100% + 10px)
    left: auto

  .game-info__wrapper
    margin: 30px 0 0 0



@media only screen and (max-width: 767px)
  .main-text__title
    font-size: 20px

  .main-text__description
    max-width: 278px

  footer
    padding: 33px 0

  .footer__circled-age
    margin: 0 auto 29px

  .footer-top
    margin: 0

    .footer-box
      margin: 0 0 36px

  .footer-box
    margin: 0 0 36px
    ul
      margin: 11px 0 0 0
    h3
      flex-direction: column
      align-items: center
      justify-content: center
      text-align: center


      &:after
        margin: 6px auto 0

  .footer__nav-menu
    text-align: center


  .footer__nav-social
    flex-wrap: wrap
    justify-content: flex-start

    li
      margin: 0 32px 28px 0

      &:last-child
        margin: 0 32px 28px 0

  .navbar-toggler
    order: inherit
    margin: 0

  .user__rating-wrapper
    margin: 0 auto

  .user-account
    margin: 0

  .dropdown-menu__user

    .quantity
      margin: 0 0 0 11px
      padding: 0 3px
      border-radius: 3px

  .user-information__photo
    margin: 0 auto 30px

  .user-information__text
    width: 100%

  .choose-league
    padding: 30px 0 0

  .games-tape
    margin: 60px 0

  .line-subtitle
    flex-direction: column
    align-items: center
    .line-subtitle__item
      width: 100%
      justify-content: space-between
      margin: 0
      &:nth-child(2)
        margin: 27px 0 54px

  .games-tape .line-title
    flex-direction: column
    align-items: center
    justify-content: center
    h2
      margin: 0 auto
      font-size: 30px
      span
        font-size: 24px
    h6
      margin: 21px auto 30px

  .technical-support .line-title
    flex-direction: column
    align-items: center
    button
      flex-direction: column
      align-items: center
      margin: 19px auto 0
      .icon
        margin: 0

  .question-wrapper__box-title .box-left, .message-user__text
    max-width: none

  .message-user__text
    margin: 11px 0 0 0
    padding: 11px 15px 48px 8px

  .message-admin
    .message-user__text
      margin: 11px 0 0 0
      order: 1

  .response-rating
    padding: 0
    
  .question-wrapper__box-title .box-right
    text-align: left
    align-items: flex-start
    margin: 30px 0 0 0

  .technical-support .nav-pagination
    margin: 30px auto 0

  .question-wrapper__box-title
    padding: 17px 36px 22px 9px

  .field-game
    margin: 0 0 60px
    background-color: #151921

  .opponent-selection
    padding: 64px 0 0 0

  .field-game__top
    margin: 0 0 30px
    background: #1f2532
    border-radius: 35px 35px 0 0
    min-height: 97px
    align-items: center
    justify-content: center
    flex-wrap: wrap
    .icon
      display: none
    .name
      margin: 0

  .score-game
    margin: 39px 0 37px

  .field-game__line
    margin: 36px 0 27px

  .field-game__bottom
    background: #1f2532
    justify-content: center
    align-items: center
    margin: 29px 0 0
    border-radius: 0 0 35px 35px
    padding: 31px 10px 10px 10px
    .btn
      width: 270px
      margin: 0 auto
      height: 50px
      padding: 0

  .figures-box
    &:nth-child(2)
      margin: 0 16px
    h6
      display: none
    .icon
      margin: 0

  .figure-selection .field-game
    padding: 0

  .section-title
    margin: 0 0 28px

  .figure-selection

    .view
      padding: 19px 15px 23px
    .field-game__top
      margin: 0 0 10px 0
      .icon
        display: flex
      .name
        font-size: 24px
        margin: 0 0 19px
    .victory-score
      order: -1
    .bank
      margin: 0 0 8px
    .field-game
      .score-game
        margin: 29px 0 21px
    .avatar-user
      justify-content: center
    .rate
      margin: 10px auto


  .number-game
    padding: 19px 0 23px
    p
      display: none

  .battle-figure

    .rate
      display: none

  .rate
    margin: 0 auto

  .battle-figure

    .icon
      width: 62px
      height: 85px

  .result-round
    margin: 0 0 28px
    font-size: 16px

  .field-game
    .field-game__bottom
      .btn
        margin: 0 auto 10px

        &:last-child
          margin: 0

  .main-logo__image
    position: absolute
    left: 50%
    transform: translate(-50%,0)
    opacity: .1
    width: 290px
    max-width: 290px
    height: 302px

  .main-text__description
    margin: 25px auto 0

  .main-text
    margin: 62px auto 59px

  .figures__text
    font-size: 16px
    font-weight: 500

  .figures__image
    max-width: 77px

  .become-participant__wrapper
    margin: 61px auto 0
    .btn
      margin: 0
    .btn-violet
      margin: 21px 0 0 0

  .short-line
    display: none

  .home-title
    font-size: 22px

  .how-to-become__step
    flex-direction: column
    align-items: center
    width: 100%
    height: 175px
    padding: 23px 25px 0
    text-align: center
    background-image: linear-gradient(to right, #485576 0%, #30374a 100%)
    .icon
      margin: 0 auto 22px

  .what-is-pro
    .home-title
      margin: 52px auto 0
      text-align: center

  .what-is-pro__stars-img
    max-width: 290px

  .what-is-pro .btn-green
    margin: 0 auto

  .main-counters__item
    margin: 0 0 62px
    &:last-child
      margin: 0

  .counters-wrapper .btn
    width: 290px
    margin: 0 auto 60px

  .slogan-games__slider
    padding: 0

  .slogan-games__box
    margin: 0 auto

  .bids-wrapper
    .field-game__bottom .btn:last-child
      margin: 0 auto
    .victory-score
      flex-direction: row
      align-items: center
    .view, .number-game
      font-size: 16px
      padding: 19px 15px
    .bet-amount
      order: inherit
      margin: 22px 0 28px
    .coefficient-wrapper
      flex-direction: column
      align-items: flex-start
      margin: 0 0 19px
      li
        font-size: 16px
        justify-content: space-between
        width: 100%
        font-weight: 400
        font-family: 'Montserrat', sans-serif
        p
          min-width: auto
    .button-wrapper
      width: 100%
      .btn
        width: 265px
        height: 30px
        font-size: 16px
        margin: 0 auto 10px
        font-weight: 400
        padding: 0



  .field-game__top-right
    justify-content: flex-end

  .battle-figure.battle-figure-right .icon
    width: 85px
    height: 85px
    svg
      width: 63px
      height: 110px

  .captcha
    margin: 0 auto

  .forgot-password__form .information .mail
    font-size: 16px
    margin: 28px auto 0

  .faq-content__box
    max-width: none
    margin: 0 auto 30px
    &:last-child
      margin: 0 auto

  .list-question
    li
      a
        .text
          margin: 0
          max-height: none

  .table-rating__body .number
    font-size: 18px

  .tournaments-section__line
    flex-direction: column
    align-items: center
    display: none
    &:nth-child(-n+8)
      display: flex
    .box-item
      max-width: none
      align-items: center
      justify-content: center
      margin: 0 0 23px
      .rating-icon
        display: none
      .name-tournament
        flex-direction: column
        display: flex
        align-items: center
        text-align: center
        .item-line
          flex-direction: column
          align-items: center
          .number
            order: 1
    .btn
      width: 270px

  .tournament-rate, .tournament-participants, .for-whom
    max-width: none
    text-align: center
    justify-content: center
    align-items: center

  .tournament-participants
    margin: 18px 0 24px

  .for-whom
    margin: 0 0 28px

  .tournaments-section__content
    height: auto
    overflow-y: visible
    margin: 0 0 20px


  .line-info__tournament
    flex-direction: column
    align-items: center
    margin: 34px 0 28px
    .it
      flex: auto
      margin: 0 auto 27px
    h6
      font-weight: 500

  .one-tournament__content
    border-radius: 0
    .subtitle h1
      font-size: 36px
      margin: 14px 0 10px
    a.btn
      margin: 0 auto 59px

  .one-tournament__details
    flex-direction: column
    align-items: center

  .one-tournament__details-box
    width: 100%
    padding: 0 0 30px
    margin: 0 0 25px 0
    &:before
      right: auto
      left: 0
      width: 100%
      height: 1px
      bottom: 0
      top: auto
    &:last-child
      &:before
        display: block
    &:first-child
      padding: 0 0 30px
      margin: 0 0 25px 0
    h3
      margin: 0 0 25px

  .one-tournament__details-list

    li
      &:before
        display: none

  .opponent-selection .field-game .field-game__bottom .btn:last-child
    margin: 0 auto

  .timer-wrapper
    margin: 20px auto

  .timer
    width: 60px
    height: 60px
    font-size: 40px


@media only screen and (max-width: 576px)
  .referral-program
    h4, h3
      text-align: center
    h4
      font-size: 16px
      font-weight: 400
      margin: 0 0 28px

  .all-tournaments, .tournaments-section .line-subtitle a.btn
    width: 290px

  .window-links
    font-size: 18px
    margin: 30px 0

  .profile-tabs.nav-tabs .slick-slide a
    text-align: center
    padding: 0 0 20px

  .slogan-games__section
    margin: 30px 0 59px

  .slogan-games__slider
    .slogan-games__box
      margin: 20px auto
      overflow: visible
      height: auto
      .icon
        display: flex
        align-items: center
        justify-content: center
        width: 30px
        margin: 0 0 6px 0
      .league-name
        flex-direction: column
        align-items: center
        display: flex
        width: 100%
        font-size: 18px
        margin: -35px 0 0 0
      .league-number
        width: 100%
        text-align: center
        margin: 10px 0 15px
      &:hover, &:focus
        &:before
          display: none
        a.btn
          position: relative
          transform: translate(0)
          top: 0
          left: 0
          padding: 0
          visibility: visible
          opacity: 1
          margin: 20px auto 0
          height: 30px

      .slogan-games__box-line
        align-items: center
        .avatar-user
          .name
            flex-direction: row
            align-items: flex-end
            font-size: 12px
          sub
            margin: 0 0 10px 2px
        .slogan-games__box-score
          margin: 16px 0
          font-size: 24px

  .field-game__disable .battle-figure
    .battle-figure__disable-title
      font-size: 12px
    .icon
      padding: 10px 0 0 0


  .slogan-games__arrows
    position: relative
    justify-content: center
    align-items: center
    margin: 0 auto 33px
    p
      margin: 0 24px
      font-size: 18px
    .slick-next
      right: 0
      top: 0
      position: relative
    .slick-prev
      left: auto
      right: auto
      bottom: 0
      position: relative

  .payment-system
    margin: 30px 0 0
    h5
      margin: 0 0 29px

  .list-payment
    li
      width: auto
      margin: 0 10px 15px 0
      &:last-child
        margin: 0 0 15px
      .icon
        margin: 0 auto
    a
      .text
        display: none

  .table-rating .number
    width: 50px

  .table-rating .player
    padding: 0
    width: calc(100% - 180px)
    .name
      font-size: 16px
      margin: 0
      sub
        display: none

  .table-rating__body .line
    padding: 14px 0


  .table-rating
    .total-games
      width: 60px
    .total-wins
      width: 70px

  .one-tournament__content
    position: relative
    padding: 61px 0 0
    .btn-close
      position: absolute
      top: 9px
      right: 15px
      width: 24px

  .one-tournament
    margin: 0
    .container
      padding: 0

  .one-tournament__details-box
    padding: 0 15px 30px
    &:first-child
      padding: 0 15px 30px
    .main-scroll
      padding: 0 13px 0 0



@media only screen and (max-width: 480px)
  .balance-account
    padding: 34px 25px 31px
    .btn
      width: 100%
      max-width: 200px
      margin: 0 auto
    .btn-green
      margin: 0 auto 10px

  .label-wrapper
    width: 100%
    order: 1
    justify-content: center
    margin: 15px 0 0 0

  .balance-account__top h3
    margin: 0 auto

  .change-password__form, .section-profile .button-wrapper
    .btn-green
      width: 290px
      margin: 0 auto
      box-shadow: 0 26px 45px 1px rgba(0, 173, 93, 0.44)
      background: #00ad5d

  .change-password__form
    flex-direction: column
    align-items: center
    display: flex

  .recent-operations__line, .recent-operations__top
    justify-content: space-between
    align-items: center
    p, h5
      text-align: center
      width: auto
      &:nth-child(1)
        width: 100%
        max-width: 78px
        flex: inherit
      &:nth-child(3)
        width: 100%
        max-width: 60px
        flex: inherit


  .line-subtitle .label-wrapper
    order: -1
    width: auto
    justify-content: flex-start

  .games-tape .button-group .btn
    font-size: 16px
    width: 130px

  .referral-program__line-title
    flex-wrap: nowrap

  .referral-program__line
    padding: 18px 12px 18px
    .box-right, h6
      min-width: auto
    .box-right
      min-width: auto
    .avatar, .user-loc
      display: flex

    h6:last-child
      max-width: 92px
      text-align: right

  .profile-tabs__content
    .line-title
      .subtitle
        text-align: center

  .modal-body .line-wrapper
    flex-direction: column
    align-items: center
    .box-left
      width: 100%
    .box-right
      margin: 30px auto 0

  .slogan-games__box
    width: 100%

  .main-slogan-games__slider
    padding: 58px 0 0 0
    margin: -30px 0 0 0
    .slick-next
      top: 0
    .slick-prev
      left: 0
      top: 0

  .bets-are-made .number-of-bets__wrapper
    margin: 0

  .main-slogan-games__section
    margin: 0 0 90px

  .login-section__content .links-wrapper
    flex-direction: column
    align-items: center
    a
      margin: 20px auto 0
      &:first-child
        margin: 0

  .login-section__content
    .bottom-line
      flex-direction: column
      align-items: flex-start
    .social-entrance
      margin: 25px auto 0 0

  .login-section
    margin: 60px 0
    form
      margin: 35px 0 0 0


  .registration-section__content .social-entrance
    flex-direction: column
    align-items: center
    margin: 38px 0 26px
    .social-button__wrapper
      margin: 16px auto 27px

  .social-entrance .links
    margin: 0

  .top-balance__content .links-wrapper a.btn
    margin: 0 auto 10px
    &:last-child
      margin: 0 auto 10px
    &:first-child
      margin: 0

  .btn-output
    order: 1

  .one-tournament
    margin: 0

  .choose-league__wrapper
    display: flex
    flex-direction: column
    .league-wrapper
      order: -1
      margin: 30px auto 0


  .games-tape
    margin: 20px 0

  .main-counters__item
    margin: 0 0 30px

  .figure-selection .field-game .score-game
    margin: 7px 0

  .opponent-selection
    padding: 30px 0 0 0

  .bank-wrapper
    justify-content: space-between
    flex-direction: row
    text-align: center
    .victory-score
      margin: 0 auto

  .figure-selection .bank
    margin: 0

  .figure-selection .field-game__top .name
    font-size: 20px
    margin: 0 0 10px

  .number-game
    padding: 15px 0 10px

  .figure-selection .view
    padding: 15px 0 10px 15px

  .field-game__bottom
    padding: 20px 10px 10px 10px

  .result-round
    margin: 0 0 15px
    ul
      font-size: 14px
      line-height: normal
    h4
      margin: 0 0 5px
      font-size: 20px

  .battle-figure .icon
    height: 65px

  .battle-figure.battle-figure-right .icon
    height: 65px

  .section-title
    margin: 0 0 15px
    h2
      font-size: 30px

  .field-game__bottom .btn
    height: 40px
    font-size: 16px

  .view, .number-game, .victory-score, .bank, .rate
    font-size: 14px

  .it-center__center
    font-size: 30px

  .tooltip
    width: 200px
    height: auto
    font-size: 12px

  .tooltip-close
    display: block

  .field-game .avatar-user
    .avatar
      width: 15px
    .user-loc
      width: 10px
      margin: 0 5px 0 0
    .name
      font-size: 12px
      margin: 0 0 0 5px
      sub
        font-size: 8px

  .games-tape__wrapper-line
    .it-center
      flex-direction: column
      align-items: center

/* Custom, iPhone Retina */
@media only screen and (max-width: 340px)
  .dropdown-menu__user
    right: -15px

  .league-wrapper__slider
    .slick-slide
      padding: 0

  .section-title h2
    font-size: 34px

  .slogan-games__arrows p
    margin: 0 22px

  .timer
    font-size: 30px
    width: 50px
    height: 50px

