@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1199px)
  .footer__nav-social li
    margin: 0 20px 0 0

  .nav-header-menu
    margin: 0 15px

  .top-line .navbar__item
    margin: 0


  .user-account
    position: relative

    &:after
      position: absolute
      bottom: 0
      right: 3px

    .icon
      width: 30px
      margin: 0 3px 0 0

    .text
      padding: 0

      h4
        display: none

  .dropdown-menu__user
    top: 65px

  .dropdown-menu.show
    border-radius: 0

  .nav-tabs
    padding: 0 10px
    .nav-link
      padding: 0 10px 16px

  .balance-account
    .btn-green
      padding: 11.5px 35px
    .btn-border
      padding: 11.5px 25px

  .user-information__photo
    width: 200px
    .photo
      height: 240px
      padding: 10px

  .subtitle
    font-size: 24px

  .tooltip-wrapper .icon
    width: 24px
    height: 24px

  .line-subtitle
    .btn
      width: 167px
      height: 50px
      padding: 0
    .line-subtitle__item
      &:nth-child(2)
        margin: 0 20px 0 auto

  .league-box
    width: 100%

  .games-tape__wrapper-line .it-center, .games-tape__wrapper-line .it-left .text, .name-winner
    font-size: 16px

  .it-center__center
    font-size: 28px

  .games-tape__wrapper-line .it-right
    width: 170px
    .btn
      width: 100%
      font-size: 16px
      font-weight: 400

  .question-wrapper__box-title .box-left, .message-user__text
    max-width: 577px

  .m-20, .it-center__center
    margin: 0 10px

  .game-statistics
    .games-tape__wrapper
      .it-right
        width: 163px

  .coefficient
    font-size: 16px


/* Medium Devices, Desktops */
@media only screen and (max-width: 1050px)
  .avatar-user
    .avatar, .user-loc
      display: none
    .name
      align-items: flex-end
      .user-loc
        margin: 0 0 0 10px

  .avatar-user.it-center__right .name
    align-items: flex-end

@media only screen and (max-width: 991px)
  .footer-top
    margin: 0 0 40px

    .footer-box
      margin: 0 0 20px

  .user__rating-wrapper
    flex-direction: row
    display: flex
    align-items: center
    margin: 0 auto

  .user__rating
    margin: 0 0 0 10px

  .navbar-collapse
    order: 1
    .nav-header-menu
      margin: 0
      border: none

  .dropdown.show .dropdown-toggle
    border-radius: 0

  .top-line
    .nav__pro
      background: transparent
      border-radius: 0
    .nav-language__menu
      background-color: #1f2532
    .navbar-nav
      padding: 0
      width: 100%
      .nav-link
        width: 100%
        padding: 15px 0
        border-bottom: 1px solid rgba(#fff, .1)
    .navbar__item
      width: 100%
      &:last-child
        margin: 0
        .nav-link
          border: none
    .nav-language
      width: 100%
      order: initial
      .dropdown.show
        a
          &:after
            border-top-color: $secondary-fgcolor
            transform: rotate(180deg)
      li
        width: 100%
        a
          width: 100%
          border-radius: 0
      .nav-language__button
        padding: 10px 15px
        border: none
      .dropdown-toggle::after
        margin: 0 0 0 auto

    .nav-language__menu
      background-color: #1f2532
      padding: 0 15px
      .dropdown-item
        padding: 14px 10px
        border-bottom: 1px solid rgba(#fff, .1)

  .change-password
    margin: 0 0 31px

  .social-wrapper.profile-box
    margin: 0 0 60px

  .user-information__photo
    width: 262px
    .photo
      height: 262px

  .section-profile .button-wrapper
    margin: 35px auto 70px
    padding: 0
    border: none

  .recent-operations__line
    margin: 0 0 24px

  .profile-tabs__content
    .fade:not(.show)
      opacity: 1

  .main-counters__item
    margin: 0 0 29px

  .line-subtitle
    margin: 59px 0 55px

  .league-box
    width: 290px
    margin: 0 auto 57px
    padding: 34px 19px 0

  .league-wrapper
    .container
      max-width: 100%
      padding: 0

  .games-tape__wrapper-line
    flex-direction: column
    align-items: center
    margin: 0 0 30px
    .it-left
      flex-direction: column
      align-items: center
      justify-content: center
      text-align: center
      margin: -20px 0 0 0
      .icon
        margin: 0 auto 0
      .text
        text-align: center
        justify-content: center
        align-items: center
        .league-name
          margin: 7px auto 10px
    .it-center
      flex-direction: column
      align-items: center
      margin: 13px auto

  .it-center__center
    font-size: 36px
    margin: 19px 0

  .games-tape
    margin: 60px 0


  .games-tape__wrapper
    height: auto
    overflow-y: visible
    margin: 0 0 20px

  .games-tape__wrapper-line
    display: none
    &:nth-child(-n+7)
      display: flex

  .profile-tabs.nav-tabs .nav-link
    color: #ffff
    border: none
    .active
      color: #ffff
      border: none

  .profile-tabs.nav-tabs
    border: none
    &:before
      content: ''
      position: absolute
      bottom: 1px
      left: 0
      width: 100%
      height: 2px
      background: #1f2532

  .profile-tabs__content
    .games-tape__wrapper
      height: auto
      overflow: hidden
      border-radius: 35px
      .avatar-user
        .avatar
          display: flex
        .user-loc
          display: flex
        .name
          flex-direction: row
      .it-right
        width: 100%
        flex-direction: column
        .bet-result
          margin: 0 0 30px
          &:last-child
            margin: 0

    .games-tape__wrapper-line
      .it-left
        margin: 0 auto

  .it-right__wrapper
    width: 100%

  .it-right__wrapper-line
    border: none
    margin: 0

  .technical-support
    margin: 0

  .window-dropdown
    margin: 30px 0

  .question-wrapper__box-title .box-left, .message-user__text
    max-width: 540px

  .games-tape__wrapper-line .it-right
    width: auto
    .btn
      width: 252px

  .bids .it-right .btn
    width: 166px

  .bids .it-center .score
    flex-direction: column
    align-items: center

  .coefficient
    font-size: 18px
    margin: 29px auto 0

  .games-tape__wrapper-line .it-right .btn
    margin: 0 auto

  .m-20
    margin: 0 20px

  .it-center__center
    margin: 20px 0


@media only screen and (max-width: 767px)
  footer
    padding: 33px 0

  .footer__circled-age
    margin: 0 auto 29px

  .footer-top
    margin: 0

    .footer-box
      margin: 0 0 36px

  .footer-box
    margin: 0 0 36px
    ul
      margin: 11px 0 0 0
    h3
      flex-direction: column
      align-items: center
      justify-content: center
      text-align: center


      &:after
        margin: 6px auto 0

  .footer__nav-menu
    text-align: center


  .footer__nav-social
    flex-wrap: wrap
    justify-content: flex-start

    li
      margin: 0 32px 28px 0

      &:last-child
        margin: 0 32px 28px 0

  .navbar-toggler
    order: inherit
    margin: 0

  .user__rating-wrapper
    margin: 0 auto

  .user-account
    margin: 0

  .dropdown-menu__user

    .quantity
      margin: 0 0 0 11px
      padding: 0 3px
      border-radius: 3px

  .user-information__photo
    margin: 0 auto 30px

  .user-information__text
    width: 100%

  .choose-league
    padding: 30px 0 0

  .games-tape
    margin: 60px 0

  .line-subtitle
    flex-direction: column
    align-items: center
    .line-subtitle__item
      width: 100%
      justify-content: space-between
      margin: 0
      &:nth-child(2)
        margin: 27px 0 54px

  .games-tape .line-title
    flex-direction: column
    align-items: center
    justify-content: center
    h2
      margin: 0 auto
      font-size: 30px
      span
        font-size: 24px
    h6
      margin: 21px auto 30px

  .technical-support .line-title
    flex-direction: column
    align-items: center
    button
      flex-direction: column
      align-items: center
      margin: 19px auto 0
      .icon
        margin: 0

  .question-wrapper__box-title .box-left, .message-user__text
    max-width: none

  .message-user__text
    margin: 11px 0 0 0
    padding: 11px 15px 48px 8px

  .message-admin
    .message-user__text
      margin: 11px 0 0 0
      order: 1

  .response-rating
    padding: 0
    
  .question-wrapper__box-title .box-right
    text-align: left
    align-items: flex-start
    margin: 30px 0 0 0

  .technical-support .nav-pagination
    margin: 30px auto 0

  .question-wrapper__box-title
    padding: 17px 36px 22px 9px

@media only screen and (max-width: 576px)
  .referral-program
    h4, h3
      text-align: center
    h4
      font-size: 16px
      font-weight: 400
      margin: 0 0 28px


  .window-links
    font-size: 18px
    margin: 30px 0

  .profile-tabs.nav-tabs .slick-slide a
    text-align: center
    padding: 0 0 20px

@media only screen and (max-width: 480px)
  .balance-account
    padding: 34px 25px 31px
    .btn
      width: 100%
      max-width: 200px
      margin: 0 auto
    .btn-green
      margin: 0 auto 10px

  .label-wrapper
    width: 100%
    order: 1
    justify-content: center
    margin: 15px 0 0 0

  .balance-account__top h3
    margin: 0 auto

  .change-password__form, .section-profile .button-wrapper
    .btn-green
      width: 290px
      margin: 0 auto
      box-shadow: 0 26px 45px 1px rgba(0, 173, 93, 0.44)
      background: #00ad5d

  .change-password__form
    flex-direction: column
    align-items: center
    display: flex

  .recent-operations__line, .recent-operations__top
    justify-content: space-between
    align-items: center
    p, h5
      text-align: center
      width: auto
      &:nth-child(1)
        width: 100%
        max-width: 78px
        flex: inherit
      &:nth-child(3)
        width: 100%
        max-width: 60px
        flex: inherit


  .line-subtitle .label-wrapper
    order: -1
    width: auto
    justify-content: flex-start

  .games-tape .button-group .btn
    font-size: 16px
    width: 130px

  .referral-program__line-title
    flex-wrap: nowrap

  .referral-program__line
    padding: 18px 12px 18px
    .box-right, h6
      min-width: auto
    .box-right
      min-width: auto
    .avatar, .user-loc
      display: flex

    h6:last-child
      max-width: 92px
      text-align: right

  .profile-tabs__content
    .line-title
      .subtitle
        text-align: center

  .modal-body .line-wrapper
    flex-direction: column
    align-items: center
    .box-left
      width: 100%
    .box-right
      margin: 30px auto 0


/* Custom, iPhone Retina */
@media only screen and (max-width: 340px)
  .dropdown-menu__user
    right: -15px

  .league-wrapper__slider
    .slick-slide
      padding: 0

