.modal
  background: rgba(#000, .8)

.modal-dialog
  max-width: 320px
  margin: 8px auto

.modal-content
  border: none
    radius: 0

.modal-header
  padding: 22px 20px 16px
  min-height: 92px
  border: none
    radius: 0
  display: flex
  align-items: center
  justify-content: center
  background-color: $footer
  text-align: center
  position: relative
  .close
    padding: 0
    margin: 0
    position: absolute
    right: 30px
    top: 50%
    transform: translate(0,-50%)
    opacity: 1
    width: 24px
    height: 24px

.modal-title
  text-align: center
  color: #fff
  font-size: 18px


.modal-body
  background-color: $bg
  padding: 20px 20px 29px
  color: #fff
  h5
    margin: 0 0 24px
  h6
    width: 100%
    text-align: center
    font-size: 24px
    margin: 0 0 27px
  .form .form-group
    margin: 0 0 30px
  .btn
    width: 100%
  .btn-green
    padding: 11.5px
    margin: 29px auto 0
  .links-red
    margin: 30px auto 0
  .text
    text-align: center
    max-width: 244px
    margin: 40px auto
  h3
    font-weight: 700
    font-size: 50px
    display: flex
    align-items: center
    justify-content: center
    flex-wrap: wrap
    span
      display: inline-block
      font-size: 18px
  .glasses
    font-size: 18px
    width: 100%
    font-weight: 700
    display: flex
    align-items: center
    justify-content: center
  .new-message
    max-width: 1080px
    margin: 10px auto 0
    textarea
      background-color: #1f2532
    button
      width: 166px
      height: 50px
      font-size: 16px
      font-weight: 400
      margin: 0
  .line-wrapper
    display: flex
    align-items: flex-start
    justify-content: space-between
    flex-wrap: wrap
    margin: 20px 0 0 0
    label
      margin: 0 0 13px


#modalReplenish
  h3
    span
      font-size: 36px


#modalStretch
  .image
    max-width: 100px
    margin: 50px auto 20px
  .text
    margin: 47px auto 57px
    max-width: none
    font-weight: 400
    font-size: 17px
    h4
      font-size: 24px

